hihi
<ul>
<% for (var i=0;i!=10;++i){ %>
	
	<li> <%= list1[Object.keys(list1)[i]].assignDate %> / <%= list1[Object.keys(list1)[i]].code %> / <%= list1[Object.keys(list1)[i]].name %> / <%= list1[Object.keys(list1)[i]].dividend %></li>

<% } %>
</ul>
<hr>
<ul>
<% for (var i=0;i!=10;++i){ %>
	
	<li> <%= list2[i].assignDate %> / <%= list2[i].code %> / <%= list2[i].name %> / <%= list2[i].dividend %></li>

<% } %>
</ul>
<hr>
<ul>
<% for (var i=0;i!=10;++i){ %>
	
	<li> <%= list3[i].assignDate %> / <%= list3[i].code %> / <%= list3[i].name %> / <%= list3[i].dividend %></li>

<% } %>
</ul>
<hr>
<ul>
<% for (var i=0;i!=10;++i){ %>
	
	<li> <%= list4[i].assignDate %> / <%= list4[i].code %> / <%= list4[i].name %> / <%= list4[i].dividend %></li>

<% } %>
</ul>